{% extends "index.html" %}
{% block body %}
<img src="{{ url_for('static', filename='images/statistics/' + graph_rr) }}" class='mySlides'>
<img src="{{ url_for('static', filename='images/statistics/' + graph_aqt) }}" class='mySlides'>
{% if graph_preproc %}
<img src="{{ url_for('static', filename='images/statistics/' + graph_preproc) }}" class='mySlides'>
{% endif %}
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  {% if graph_preproc %}
  <span class="dot" onclick="currentSlide(3)"></span>
  {% endif %}
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>
{% endblock %}